<div class="container">
        <h1>Greetings</h1>

    <div class="row">
      <div class="count "><span>counter: {{count}}</span></div>

        <form class="" action="greetings" method="post">

        <div class="textareas" name="">
          <label>Name</label>
          <input id="myTextarea" name="myTextarea" class="myTextarea"> </input>

        </div>
        <!-- <div class="count">0</div> -->

        <div class="radioz">
          <input type="radio" class="radios" name="radioz" value="English" class="radioz" />
          <label for="y">English</label>
          <input type="radio" class="radios" name="radioz" value="Afrikaans" class="radioz" />
          <label for="z">Afrikaans</label>
          <input type="radio" class="radios" name="radioz" value="IsiXhosa" class="radioz" />
          <label for="z">IsXhosa</label>
        </div>

        <button type="submit" onclick=""  class="btnGreet button button-primary">Greet</button>
        </form>
        
        <form class="" action="reseting" method="get">
        <div class="button1 ">
          <button type="submit" onclick="" class="Reseting button button-primary" value="Reseting" href ="/reset" >Reset</button>
        </div>
        </form>

        <div>
          <span>{{greet}}</span>
        </div>
  </div>
</div>





